<article id='{{id}}' class='article note_{{category}}' data-filters='{{created.year}}'>

	<header class='article__header'>
		<h1 class='article__header__title'>{{title}}</h1>
		<time datetime='' class='article__header__date'>{{created.date}}</time>
	</header>

	<div class='article__visual'>
		<img class='article__visual__image' src='{{image}}'></img>
	</div>

	<div class='article__body'>{{{text}}}</div>

	<footer  class='article__footer'>
		{{footer}}
	</footer>

</article>